.containerInfo {
    display: flex;
}


.titleExperience {
    color: var(--dark-40);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.containerCompanyExperience {
    display: flex;
    flex-direction: row;
}

.line {
    background-color: var(--brand-color);
    height: 55px;
    width: 4px;
}

.lineDisable {
    background-color: var(--dark-20);
    height: 60px;
    width: 4px;
}

.containerCompanyName {
    background-color: var(--dark-20);
    height: 55px;
    width: 190px;
}

.containerCompanyNameDisable {
    background-color: var(--dark-10);
    height: 55px;
    width: 190px;
}

.titleCompanyName {
    margin-top: 15px;
    text-align: center;
    color: var(--dark-40);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titleCompanyNameDisable {
    margin-top: 15px;
    text-align: center;
    color: var(--dark-30);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.containerDescriptionsExperience {
    margin-left: 88px;
}

.containerJobDate {
    display: flex;
}

.titleJob {
    color: var(--dark-40);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.containerDate {
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: center;
    margin-right: 0px;
}

.dateStart,
.dateEnd {
    color: var(--dark-40);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.containerCompany {
    color: var(--brand-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 26px;
}

.containerDescription {
    color: var(--dark-30);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-top: 26px;
    width: 800px;
}